@{
    ViewData["Title"] = "Home Page";
}


<div>
<!-- Bubbles Div below is a style made by Farjana Rashid, edited by myself. -->
<!-- Https://www.FarjanaRashid.com -->
    <div class="bubbles">    
        <span style="--i:11"></span>  
        <span style="--i:12"></span>    
        <span style="--i:24"></span>    
        <span style="--i:10"></span>    
        <span style="--i:14"></span>    
        <span style="--i:23"></span>    
        <span style="--i:18"></span>    
        <span style="--i:16"></span>    
        <span style="--i:19"></span>    
        <span style="--i:20"></span>    
        <span style="--i:22"></span>    
        <span style="--i:25"></span>    
        <span style="--i:18"></span>    
        <span style="--i:21"></span>    
        <span style="--i:15"></span>    
        <span style="--i:13"></span>    
        <span style="--i:26"></span>    
        <span style="--i:17"></span>    
        <span style="--i:13"></span>    
        <span style="--i:28"></span>        
        <span style="--i:11"></span>    
        <span style="--i:12"></span>    
        <span style="--i:28"></span>    
        <span style="--i:13"></span>    
        <span style="--i:26"></span>        
        <span style="--i:27"></span>    
        <span style="--i:12"></span>    
        <span style="--i:24"></span> 
    </div>

<div style="display: flex; justify-content: center; align-items: center">
    <h3>Navigate from the top menu</h3>
</div>
<p style="color: #FFF"></p>

<div style="display: flex; flex-direction: column; align-items: center; margin-top: 10px;">
    <img src="" style="height: 50%; width: 50%;">
    <h3 style="color: #acf">Welcome to Bazinga!</h3>
    <p style="color: #FFF; font-style: italic;">Check out our movie collection and share your thoughts on your favorite movies!</p>
</div>
  
</div>