@{
    ViewData["Title"] = "Home Page";
}


<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div id="movies" style="display: flex; justify-content: center;">
    <button style="background: #111">
       <a href="/movie" style="color: #fff;">movies</a>
    </button>
</div>

<div id="comments" style="display: flex; justify-content: center;">
    <button style="background: #111">
       <a href="/comment" style="color: #fff;">Comments</a>
    </button>
</div>
-->
<div style="display: flex; justify-content: center; align-items: center">
    <h3>Navigate from the top menu</h3>
</div>
<p style="color: #FFF"></p>

<div style="display: flex; flex-direction: column; align-items: center; margin-top: 10px;">
    <img src="https://e3.365dm.com/20/08/2048x1152/skynews-boris-johnson-spitting-image_5058070.jpg" style="height: 50%; width: 50%;">
    <h3 style="color: #acf">"Oi, jolly good, uuh.. Have a look at those pp-movies!"</h3>
    <p style="color: #FFF; font-style: italic;">-Boris Johnson</p>
</div>

