@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div style="display: flex; justify-content: center; align-items: center; flex-direction: column; color: #f84;">
<p>"We have yet to update your privacy details. Will be coming up soon.."</p>
<p>-Devs</p>
</div>