<!--
<table class="table">
    <thead>
        <tr>
            <th>
                Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        foreach (var movie in Model.movies)
        {
            <tr>
                <td>
                    Html.DisplayFor(modelItem => movie.Title)
                </td>
                <td>
                    Html.DisplayFor(modelItem => movie.Text)
                </td>
                <td>
                    Html.DisplayFor(modelItem => movie.CreatedDate)
                </td>
                <td>
                    Html.DisplayFor(modelItem => movie.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id=.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id=".Id">Details</a> |
                    <a asp-action="Delete" asp-route-id=".Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table> 
-->